*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    background:#111;
}

/* Full layar */
.wrapper{
    width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    overflow:hidden;
}

/* Jalur foto */
.track{
    display:flex;
    gap:20px;
    transform: rotate(-20deg);
    will-change: transform;
}

/* Foto */
.track img{
    height:60vh; /* memenuhi layar responsif */
    width:auto;
    object-fit:cover;
    border:2px solid red;
    flex-shrink:0;
}
