* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 180px);
    gap: 20px;
    transform: rotate(-45deg);
}

.gallery img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 2px solid red;
}
